*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,body{
    height: 100%;
    background-color: #3d2b11;
    overflow: hidden;
}

header{
    height: 200px;
    padding: 20px 0;
    
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.logo{
    background-image: url(../images/logo.png);
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
}

.menu{
    padding-top: 40px;
    width: 50%;
    text-align: right;
    position: absolute;
    left: 650px;
}

.menu a{
    color:white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

.chamada{
    background-image: url(../images/chamada.png);
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-550%,380%);

}

.container{
    width: 100%;
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -10%);
}

.extras{
    background-color: #fbaa1b;
    position: absolute;
    bottom: -50;
    right: -50;
    width: 2500px;
    height: 400px;
    transform: translate(-30%, -18%);
    border-radius: 50%;
}


.barra{
    background-color: #fbaa1b;
    position: relative;
    bottom: -50;
    right: -50;
    width: 140px;
    height: 200px;
    left: 1190px;
    top:135px;
    border-radius: 50px 20px;
}

.Produto_1{
    height: 50px;
    width: 50px;
    position: relative;
    top: -90px;
    left: 120px;
    z-index: 4;
}

.Produto_2{
    height: 50px;
    width: 50px;
    position: relative;
    top: -58px;
    left: 675px;
    z-index: 2;
}

.Produto_3{
    height: 50px;
    width: 50px;
    position: relative;
    top: -110px;
    left: -420px;
    z-index: 3;
}

.social-media{
    height: 50%;
    width: 50%;
    position: absolute;
    top: 210px;
    left: 1865px;
}

.social-media img {
    display: block;
    margin: 20px 0;
    width: 40px;
}

